<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="GoRogue" version="2.5.1" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="13.0.2" targetFramework="net461" />
  <package id="OptimizedPriorityQueue" version="4.2.0" targetFramework="net461" />
  <package id="SadConsole" version="8.9.0" targetFramework="net461" />
  <package id="Troschuetz.Random" version="4.3.1" targetFramework="net461" />
</packages>